<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    	<add key="Application Name" value="Shooting Game" />
    	<add key="Application Version" value="1.0" />
    </appSettings>
    <runtime>
    	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        	<probing privatePath="lib"/>
    	</assemblyBinding>
	</runtime>
</configuration>